@font-face {
    font-family: "October Crow";
    src: url("October\ Crow.ttf");
    src: 
	url('October\ Crow.ttf') 
	format('truetype');
}

html {
    height: 100%;
}

.bg-grad {
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(38,38,38,1));
    min-height: 100%;
}

.title {
    font-family: 'October Crow';
}

.paragraph {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#copy-field {
    opacity: .01;
    height:0;
    position:absolute;
    z-index: -1;
}

/* Yoinked this lol */
.tooltip {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover {
    visibility: visible;
    opacity: 1;
  }